*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(to top, #8E1616, #F5C45E);
    color: #EEEEEE;
}

/* Container utama */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
}

/* Navbar */
nav {
    width: 100%;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 2vh 5vw;
    height: 10vh;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}


nav h1 {
    font-size: clamp(1.2em, 2vw, 1.7rem);
    color: #EEEEEE;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #EEEEEE;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

/* Section isi */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 5vh;
    flex: 1;
    padding: 5vh 2vw;
}

section h1 {
    font-size: clamp(1.2rem, 2vw, 2rem);
    text-align: center;
}

/* Gambar mobil */
.car img {
    max-width: 90vw;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Tombol switch mobil */
.btn {
    display: flex;
    gap: 1.2em;
    flex-wrap: wrap;
    justify-content: center;
}

.btn button {
    width: clamp(30px, 8vw, 50px);
    height: clamp(30px, 8vw, 50px);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn #mle3 {
    background-color: #8f8f8f;
}
.btn #mle8 {
    background-color: #c2ab47;
}
.btn #mle9 {
    background-color: #bb2626;
}

.btn button:hover {
    transform: scale(1.1);
}

button img {
    width: clamp(30px, 3vw, 50px);
}

/* about */
.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    padding: 5vh 2vw;
    padding-top: 10vh;
}

.jelasan {
    display: flex;
    flex-direction: column;
}

.jelasan p {
    padding-top: 3vh;
}

.deskripsi {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2vw;
    width: 100%;
}

/* .spek {

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 1rem;
    padding: 2vh 5vw;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}

.fitur {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 46.875vw;
    gap: 1rem;
    margin-left: 2vw;
    padding: 2vh 5vw;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
} */

.spek, .fitur {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2vh 5vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}